* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    padding: 10px;
    border-radius: 5px;
    background: #630166;
    color: azure;
    border: none;
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.input {
    padding: 10px;
    border-color: #630166;
    border-radius: 5px;
    outline: none;
}

.profile {
    color: #630166;
    padding-bottom: 30px;
    text-align: center;
}

.msg_error {
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: red;
}

.msg_success {
    border: 2px solid rgb(6, 190, 15);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: rgb(6, 117, 6);
}
